{% extends 'admin-base.html.twig' %}

{% block title %}GiftCard{% endblock %}

{% block body %}
    <h1>GiftCard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gift_card.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ gift_card.code }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ gift_card.amount }}</td>
            </tr>
            <tr>
                <th>Expirydate</th>
                <td>{{ gift_card.expirydate ? gift_card.expirydate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gift_card_index') }}">back to list</a>

    <a href="{{ path('app_gift_card_edit', {'id': gift_card.id}) }}">edit</a>

    {{ include('gift_card/_delete_form.html.twig') }}
{% endblock %}
